*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #d0d6d6;
}

.navbar{
    background-color: #86b9b0 !important;
}

a{
    color: #4c7273 !important;
}


a h2{
    color: #041421 !important;
}

.heading{
    text-align: center;
    color: #041421 !important;
}

